<app-header></app-header>

<div *ngIf="gameInProgress; else gameOver">
      <app-painel (finishGame)="finishGame($event)"></app-painel>
</div>
<ng-template #gameOver>
      <div *ngIf="finishType === 'gameOver'; else victory" class="container">
            <div class="jumbotron">
                  <div class="row">
                        <div class="col d-flex justify-content-center">
                              <h2 class="defeat">Fim de jogo, infelizmente você perdeu :( </h2>
                        </div>
                  </div>
                  <div class="row d-flex justify-content-end btn-align">
                        <button class="btn btn-success" (click)="refreshGame()">Jogar Novamente</button>
                  </div>
            </div>
      </div>
</ng-template>
<ng-template #victory>
      <div class="container">
            <div class="jumbotron">
                  <div class="row">
                        <div class="col d-flex justify-content-center">
                              <h2 class="success">Parabéns, você traduziu todas as frazes ;) </h2>
                        </div>
                  </div>
            </div>
      </div>
</ng-template>